.page {
    width: 1100px;
}

.page-icon {
    margin: 40px auto;
    font-size: 0;
    text-align: center;
}


.page-icon a,
.page-prev,
.page-next {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14PX;
    margin-right: 10px;
}


.page-icon a {
    text-decoration: none;
    color: #005aa0;
}

.page-1 {
    color: #ff6600;
    padding: 5px 10px;
    font-size: 14PX;
}

.page-prev {
    color: #ccc;
}



.footer {
    width: 1100px;
    height: 20px;
    text-align: center;
    height: 300px;
    padding-top: 30px;
}

.help {
    margin: auto;
}