* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.jinxuantupian {
    width: 500px;
    height: 55px;
    line-height: 55px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    background: gray;

}

.jinxuantupian span {
    color: whitesmoke;
}

.jinxuantupian span:first-child {
    /* 加粗 */
    font-weight: bold;
    margin: 0 10px;
    font-size: 20px;
}

.mybody {
    width: 1100px;
    overflow: hidden;
}

/* 定义盒子中图片大小 */
.mybody img {
    width: 360px;
    height: 250px;
    /* 鼠标经过是图片变大 */
    transition: all .4s;
    margin: 0 auto;

}

/* 图片盒子 */
.mybody_box {
    position: relative;
    width: 360px;
    height: 250px;
    border: #555;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    /* margin-bottom: 25px; */
    /* box-shadow: 2px 2px 2px #626262; */
    /* 超出部分隐藏 */
    overflow: hidden;

}

.mybody .mybody_left {
    margin-left: 0;
}

/* 鼠标经过图片变大 */
.mybody_box:hover img {
    transform: scale(1.5);
}

.like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: url(../images/heart.png);
    background-size: 50px 50px;
    cursor: pointer;
    display: none;
}

/* 鼠标经过显示隐藏的盒子 */
.mybody_box:hover .like {
    display: block;
}

.mybody_box:active .like {
    background: url(../images/redheart.png);
    background-size: 50px 50px;
}

.one {
    margin-top: 25px;
    width: 1100px;
    height: 500px;
    background-color: #cb3939;
}





/* 返回顶部按钮样式 */
#myBtn {
    display: none;
    /* 固定位置 */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}