.box {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}


.collect {
    /*  */
    float: left;
    width: 1100px;
}

.collect-nav {
    width: 1100px;
    height: 50px;
    margin-top: 20px;
}

.collect-nav span {
    /* 加粗 */
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: gray;
    font-weight: bold;
    font-size: 20px;
    color: white;
    line-height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.collect .mybody .mybody_box:hover .like {
    background: url(../images/redheart.png);
    background-size: 50px 50px;
}