.box {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.class-nav {
    /* 取消掉导航栏固定 */
    float: left;
    width: 1100px;
    height: 40px;
    background-color: gray;
    margin-top: 10px;
    border-radius: 10px;
}

.class-nav-box {
    float: left;
    margin-left: 300px;
    width: 500px;
    height: 40px;
}

.class-nav a {
    display: block;
    float: left;
    margin-left: 20px;
    width: 80px;
    height: 40px;
    /* background-color: blue; */
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.class-nav a:hover {
    background: #371b00;
}

.class-nav a:active {
    background: black;
}

.class1,
.class2,
.class3,
.class4 {
    float: left;
    width: 1100px;
    height: 50px;
    line-height: 50px;
    border-top-right-radius: 20px;
    margin-top: 20px;
    background: gray;
}

span {
    /* 加粗 */
    font-weight: bold;
    margin: 0 10px;
    font-size: 20px;
    color: white;
}

.span {
    float: right;
    margin-right: 20px;
}

.span a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

.class-box1,
.class-box2,
.class-box3,
.class-box4 {
    width: 1100px;
}

.class-box {
    position: relative;
    width: 360px;
    height: 250px;
    border: #555;
    float: left;
    margin-left: 10px;
    /* margin-bottom: 25px; */
    /* box-shadow: 2px 2px 2px #626262; */
    /* 超出部分隐藏 */
    overflow: hidden;
}

.class-box-left {
    margin-left: 0px;
}

.class-box img {
    width: 360px;
    height: 250px;
    /* 鼠标经过是图片变大 */
    transition: all .4s;
    margin: 0 auto;
}

.class-box:hover img {
    transform: scale(1.5);
}

.class-box:hover .like {
    display: block;
}

.class-box:active .like {
    background: url(../images/redheart.png);
    background-size: 50px 50px;
}

.top {
    float: left;
    margin-top: 40px;
}